---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About us!</h1>
			<p>
				Established in 2023, we are a technology club at Milpitas High School that uses principles from technical fields to make a positive impact on our campus and community. Our main focus is on bettering our environment in collaboration with our peers, so we accept requests and suggestions to tackle any problem that can be solved with our technical skills and determination.	
			</p>
			<p>
				Our current work in progress is Trashbot, a robot that will be able to pick up trash autonomously from outdoors environments. We began work on this project in March 2024, and expect to implement it by December 2024. 
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/logo.png"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
</Layout>
